if SHIELD_STAN_LEFT

# Name must be less than 16 characters long!
config ZMK_KEYBOARD_NAME
    default "d stan"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_STAN_LEFT || SHIELD_STAN_RIGHT

config ZMK_SPLIT
    default y

endif